body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.section1 {
    display: flex;
    background-color: #465564;
    width: 100%;
    max-width: 1400px;
    height: 818px;
    justify-content: center;
    .herosection {
        display: flex;
        position: absolute;
        z-index: 1;
        background-image: url(Pictures/Group8.png);
        background-size: cover;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 930px;
        height: 818px;
        .dieuhuong {
            display: flex;
            position: absolute;
            bottom: 31px;
            right: 5%;
        }
    }
    .front {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        width: 95%;
        max-width: 1180px;
        top: 40px;
        .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .logo {
                font-family: Roboto;
                font-weight: 800;
                font-size: 36px;
                line-height: 46px;
                letter-spacing: 8px;
                color: #4CAF50;
                display: flex;
                align-items: center;

            }
            .action {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 31px;
                .navi {
                    display: flex;
                    flex-direction: row;
                    gap: 70px;
                    .text1 {
                        font-weight: 700;
                        font-size: 18px;
                        color: #ffffff;
                        line-height: 24px;
                    }
                    .text {
                        font-weight: 700;
                        font-size: 18px;
                        color: #EBEBEB;
                        line-height: 24px;
                    }
                }
                .button {
                    width: 180px;
                    height: 60px;
                    background: #4CAF50;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    color: #ffffff;
                }
            }
        }
        .information {
            display: flex;
            flex-direction: column;
            width: 694px;
            margin-top: 106px;
            .text {
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;
                margin-bottom: 7px;
                p {
                    color: #FEFEFF;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 4px;
                    height: auto;
                }
                .line {
                    width: 109px;
                    height: 1px;
                    background: #FEFEFF;
                }
            }
            .title {
                color: #ffffff;
                font-family: Roboto;
                font-weight: 700;
                font-size: 88px;
                line-height: 80px;
                margin-bottom: 27px;
                span {
                    color: #4CAF50;
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 88px;
                    line-height: 80px;
                }

            }
            .discription {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-align: justify;
                width: 369px;
                color: #EBEBEB;
                margin-bottom: 36px;
            }
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                background-color: #4CAF50;
                width: 206px;
                height: 60px;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}
.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    .section2 {
        display: flex;
        flex-direction: row;
        gap: 46px;
        width: 95%;
        max-width: 1180px;
        .left {
            display: flex;
            flex-direction: column;
            gap: 48px;
            .information {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .title {
                    color: #4B4B4B;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    span {
                        color: #4CAF50;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 44px;
                    }
                }
            }
            .picture {
                display: flex;
                position: relative;
                width: 617.6px;
                height: 564px;
                .back {
                    backdrop-filter: blur(4px);
                    background: #C8E6C9;
                    width: 581.4354858398438px;
                    height: 536px;
                    display: flex;
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    right: 0;
                }
                .img1 {
                    box-shadow: 0px 4px 30px 0px #0000001A;
                    width: 594.758056640625px;
                    height: 532px;
                    display: flex;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    border: 1px solid #C8E6C9;
                    img {
                        width: 594.758056640625px;
                        height: 532px;
                    }
                }
                .img2 {
                    width: 136px;
                    height: 60px;
                    display: flex;
                    position: absolute;
                    z-index: 3;
                    bottom: 14px;
                    right: 37.6px;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 516.73px;
            .box {
                display: flex;
                flex-direction: row;
                gap: 22.84px;
                img {
                    width: 192.22581481933594px;
                    height: 202px;
                }
                .text {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .top {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .title {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            color: #4B4B4B;
                        }
                        .discript {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: justify;
                            color: #4B4B4B;
                        }
                    }
                    .bottom {
                        height: 22px;
                        display: flex;
                        flex-direction: row;
                        gap: 24px;
                        align-items: center;
                        .text {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 22px;
                            color: #4B4B4B;
                        }
                        img {
                            margin-top: 2px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    .section3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1180px;
        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 1180px;
            .text {
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #4B4B4B;
                span {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    color: #4CAF50;
                }
            }
            .action {
                display: flex;
                flex-direction: row;
                gap: 24px;
                align-items: center;
                .inf {
                    color: #4B4B4BB0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                }
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .nav {
            display: flex;
            flex-direction: row;
            gap: 24px;
            margin-top: 25px;
            margin-bottom: 48px;
            .text1 {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #4B4B4B;
            }
            .text {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #4B4B4B;
            }
        }
    }
}